[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ety001/Desktop/文章]
row=4
col=0

[/home/ety001/Desktop/登记证明.pdf]
row=7
col=0

[/home/ety001/Desktop/t.png]
row=3
col=1

[/home/ety001/Desktop/aic8800d80fdrvpackage_2024_0606.deb]
row=11
col=0

[/home/ety001/Desktop/登记证明.docx]
row=6
col=0

[/home/ety001/Desktop/AIC8800D80.zip]
row=10
col=0

[/home/ety001/Desktop/Fees_Notice_2216312_601197109_20240628.pdf]
row=8
col=0

[/home/ety001/Desktop/faucet-prod-api-protect.zip]
row=9
col=0

[/home/ety001/Desktop/车位租赁协议.docx]
row=5
col=0

[/home/ety001]
row=3
col=0

