[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ety001/Desktop/文章]
row=4
col=0

[/home/ety001/Desktop/车位租赁协议.docx]
row=5
col=0

[/home/ety001/Desktop/登记证明.docx]
row=6
col=0

[/home/ety001/Desktop/登记证明.pdf]
row=7
col=0

[/home/ety001]
row=3
col=0

